
  .container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items horizontally at the center */
  }

  .graph-container {
    margin-bottom: 20px; /* Add some margin between the graph and the div */
  }
  .legend{
    border :2px solid black ;
    border-radius: 15px;
    margin: 4px ;
    right:0;
  }  


  /* legend css   */

 
.graph-container {
    margin-bottom: 20px;
}

.legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.legend ul {
    padding: 5px;
    margin: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
}

.legend svg {
    margin-right: 5px;
}

.scene-nav-info, .scene-tooltip {
  position: absolute;
  display: none !important; 
  pointer-events: none;
  user-select: none;
} 

/* legend css  */