.flex {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .col-2 {
    flex: 0 0 20%; /* Sidebar width */
  }
  
  .col-12 {
    flex: 1; /* Main content width */
  }
  
  .main_visualize {
    padding: 50px;
  }
  
  .table-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add margin between sections if needed */
  }
  
  .table-section2 {
    flex: 1;
    /* margin-right: 20px; */
  }
  
  .table-wrapper {
    overflow-y: auto;
    max-height: 70vh; /* Adjust as needed */
    position: relative;
  }
  
  .table2 {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table2 th, .table2 td {
      padding: 8px;
      border: 1px solid #ddd;
    text-align: left;
  }
 
  .table2 th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .entity_class {
    background-color: #3cb9eb;
    text-align: start;
    padding: 5px;
    color: white;
    margin: 0;
  }
  
  .link_color {
    background-color: black;
  }
  
  /* Adjustments for specific table styles */
  .table2 td:first-child {
    background-color: #f9f9f9;
  }
  