.flex {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .col-2 {
    flex: 0 0 20%; /* Sidebar width */
  }
  
  .col-12 {
    flex: 1; /* Main content width */
  }
  
  .main_visualize {
    padding: 50px;
  }
  
  .table-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add margin between sections if needed */
  }
  
  .table-section2 {
    flex: 1;
    /* margin-right: 20px; */
  }
  
  .table-wrapper {
    overflow-y: auto;
    max-height: 70vh; /* Adjust as needed */
    position: relative;
  }
  
  .table2 {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table2 th, .table2 td {
      padding: 8px;
      border: 1px solid #ddd;
    text-align: left;
  }
 
  .table2 th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .entity_class {
    background-color: #3cb9eb;
    text-align: start;
    padding: 5px;
    color: white;
    margin: 0;
  }
  
  .link_color {
    background-color: black;
  }
  
  /* Adjustments for specific table styles */
  .table2 td:first-child {
    background-color: #f9f9f9;
  }
  

  /* Basic styling for the dropdown */
/* Basic styling for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button styling */
.dropbtn {
  background-color: #3cb9eb; /* Green background */
  color: white;
  padding: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: auto; /* Adjust as needed */
  max-height: 300px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrollbar */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
}

/* Dropdown content - show it when clicking on the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown content items (checkboxes) */
.dropdown-content label {
  display: block;
  padding: 8px 12px;
  cursor: pointer;
}

/* Optional: Style checkboxes */
.dropdown-content input[type="checkbox"] {
  margin-right: 8px;
}

/* Optional: Hover state for dropdown items */
.dropdown-content label:hover {
  background-color: #ddd;
}
